/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* Color de fondo gris */
    margin: 0;
    padding: 20px;
}

.contenido {
    max-width: 600px;
    margin: 0 auto;
    background: rgb(209, 207, 207);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.Llaves {
    margin: 20px 0;
}

.Llaves p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="text"],
textarea {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
    font-size: 16px;
}

button {
    background-color: #508b50;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    display: block; /* Para centrar los botones */
    margin: 10px auto; /* Margen automático para centrar */
}

button:hover {
    background-color: #4cae4c;
}

textarea {
    resize: vertical;
}
